{% load static %}<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
  <title>{% block title %}Comparator{% endblock %}</title>
</head>
<body>
  <nav id="a" class="navbar navbar-expand-lg navbar-light mb-4" style="padding-left: 27%;">
    <div class="container">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav" style="margin: 0;padding: 0;text-align: center;">
       
          <li class="nav-item" >
            <a class="nav-link" style="color: aliceblue;" href="{% url 'home' %}" onmouseover="onhover(this)" onmouseout="normal(this)">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'upload' %}" onmouseover="onhover(this)" onmouseout="normal(this)">COMPARE FILE CONTENT</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="{% url 'list' %}" onmouseover="onhover(this)" onmouseout="normal(this)">ALL UPLOADS</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'file_selector' %}" onmouseover="onhover(this)" onmouseout="normal(this)">FILE CONVERSION</a>
          </li>
                 </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <div id= "main" class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <div class="card mb-4" style="border:0">
          <div class="card-body">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script>
    document.getElementsByClassName("card-body")[0].style.borderRadius = "5px";
    function onhover(x) {
        x.style.backgroundColor = "aqua"
        x.style.color = "black"
        
      }
      
    function normal(x) {
        x.style.backgroundColor = "black";
        x.style.color = "aliceblue"
        
      }
    
  </script>
</body>
</html>